{{template "base" . }}
{{ define "title" }}Create Commentary{{ end }}
{{define "bodyTitle"}} Comment Page {{ end }}
{{define "username"}} UNKNOWN USER {{ end }}
{{define "body"}}

<!-- AJOUTER UN BOUTON QUI EST CLIQUE AUTOMATIQUEMENT ET QUI ENVOIE L'ID DU POST A LA PAGE POSTPAGE -->
<div>
    <form action="/postPage" method="POST">
        <button id="quitPage" name="postID" type="submit" value="{{.PostID}}"> </button>
    </form>
</div>

<script text="text/javascript">
    window.onload = function () {
        document.getElementById('quitPage').click();
    }
</script>

{{end}}