{{template "base" . }}

{{ define "title" }}Home - Forum{{ end }}

{{define "bodyTitle"}}Home{{ end }}

{{define "username"}}{{.User.Name}}{{ end }}

{{define "body"}}



<div class="flex flex-wrap justify-center mt-8">
    {{ range .Categories}}
    <form action="/categoriesPage" method="POST">
        <div class="mx-12 p-6 flex justify-center">
            <button name="categorieName" type="submit" value="{{.ID}}" justify-around
                class="right-0 lowercase text-gray-600 text-right">
                <!--Metric Card-->
                <div
                    class="bg-gradient-to-b from-{{.Color}}-200 to-{{.Color}}-100 border-b-4 border-{{.Color}}-600 rounded-lg shadow-xl p-5">
                    <div class="flex flex-row items-center">
                        <div class="pr-4">
                            <div class="rounded-full p-5 bg-{{.Color}}-600">
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">{{.Name}}</h5>
                            <h3 class="font-bold text-3xl"><span class="text-{{.Color}}-500"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </button>
        </div>
    </form>
    {{end}}
</div>



<!--POSTS-->




<div class="flex flex-row flex-wrap flex-grow mt-2 ">
    <div class="w-full p-6">
        <!--Graph Card-->
        <div class="bg-white border-transparent rounded-lg shadow-x h-full">
            <div
                class="bg-gradient-to-b from-gray-300 to-gray-100 text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                <h5 class="font-bold ml-4 uppercase text-gray-600">Derniers posts</h5>
            </div>
            <div class="flex justify-center flex-wrap">
                {{ if .IsNoPost }}
                <div class="bg-white border-transparent rounded-lg shadow-xl w-full">
                    <div class="w-full p-10">
                        <h6 class="text-center"> Aucun post n'a été publié </h6>
                    </div>
                </div>
                {{else}}
                {{range .Posts}}
                <div class="w-1/2 p-6">
                    <div class="bg-white border-transparent rounded-lg shadow-xl">
                        <div
                            class=" bg-gradient-to-b from-gray-300 to-gray-100 text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2 flex flex-col ">
                            <form action="/postPage" method="POST">
                                <div class="w-auto flex justify-center">
                                    <button name="postID" type="submit" value={{.ID}}
                                        class="font-bold text-3xl text-gray-600 text-left">{{.Title}}</button>
                                </div>
                            </form>
                            <form action="/userPage" method="POST">
                                <div class="w-auto flex justify-center">
                                    <h5 class="text-gray-600 text-2xl">Posté par <button type="submit" class="font-bold"
                                            name="user" value="{{.UserID}}">{{.Owner}}</button> le {{.Date}}</h5>
                                </div>
                            </form>
                        </div>

                        <div class="p-5">
                            <p class="font-bold text-gray-600">{{.Content}}</p>
                        </div>
                    </div>
                    <div class="flex mr-12">
                        <p class="ml-1 text-gray-600">Catégories :</p>
                        {{range .Categories}}
                        <p class="ml-1 text-gray-600">{{.}}</p>
                        {{end}}
                    </div>
                    <div class="flex flex-row-reverse">
                        <form action="/postLike" method="POST">
                            <button name="PouceVert" type="submit" value="{{.ID}}" class="hiddenButton"><img
                                    src=" ../../fileServer/pagesImgs/PouceVert.png" height="35" width="35"
                                    class="ml-2" /></button>
                            {{.Likes}}
                        </form>
                        <form action="/postDislike" method="POST">
                            <button name="PouceRouge" type="submit" value="{{.ID}}" class="hiddenButton"><img
                                    src=" ../../fileServer/pagesImgs/PouceRouge.png" height="35" width="35"
                                    class="" /></button>
                            {{.Dislikes}}
                        </form>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>


    </div>
    <!--/Graph Card-->
</div>
</div>

{{ end }}