{{template "base" . }}

{{ define "title" }}Login - Forum{{ end }}

{{define "bodyTitle"}}Login{{ end }}

{{define "body"}}


<form class="validateButton" action="/login" method="POST">
    <div class="bg-gray-200 w-full h-screen">

        <div class=" flex justify-center ">
            <div class="mt-24 mb-6 md:w-1/2 xl:w-1/4 justify-center">
                <p class="font-semibold text-center text-2xl mb-2">Vous n'avez pas de compte ?</p>
                <a href="/registration" class="">
                    <div class="w-full bg-gray-700 hover:bg-gray-800 transition duration-300 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded-lg py-3 px-2 text-center text-bold">
                        <p>Cliquez ici</p>
                    </div>
                </a>
            </div>
        </div>

        <div class=" flex justify-center ">
            <div class="mt-8 mb-6 md:w-1/2 xl:w-1/3 justify-center">
                <p class="font-semibold text-center text-2xl mb-2">Entrez votre adresse mail</p>
                <input type="text" name="email" placeholder="Adresse mail"
                    class="w-full bg-gray-700 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded-lg py-3 px-2 pl-10 text-center">
                    <p class="text-red-600 text-center mt-2">{{.Mail}}</p>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="mt-8 mb-6 md:w-1/2 xl:w-1/3 justify-center">
                <p class="font-semibold text-center text-2xl mb-2">Entrez votre mot de passe</p>
                <input type="password" name="password" id="password" placeholder="Mot de passe"
                    class="w-full bg-gray-700 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded-lg py-3 px-2 pl-10 text-center">
                <div class="text-center mt-2">
                    <input type="checkbox" onclick="myFunction()"> Voir le mot de passe
                    <p class="text-red-600 text-center mt-2">{{.Passwd}}</p>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <button id="coche" name="validate" type="submit"><img src="../../fileServer/pagesImgs/validate.png">
                <h5>Valider</h5>
            </button>
        </div>
    </div>
    </div>

</form>

<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

{{ end }}