{{define "flexHeader"}}
<li class="flex-1 md:flex-none md:mr-3">
    <div class="relative inline-block">
        <button onclick="toggleDD('myDropdown')" class="drop-button text-white focus:outline-none flex flex-row justify-center"> 
            <span class="pr-2"> <img src="{{.User.Image}}" style="width: 35px; margin-top: 4px; border-radius: 5px;"> </span> Hi, {{template "username" .}} 
            <svg class="h-3 fill-current inline mt-2 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
        </button>
        <div id="myDropdown" class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
            <form action="/userPage" method="POST">
                <button type="submit" name="user" value="{{.User.ID}}" class="p-2 hover:bg-gray-700 rounded text-white text-sm no-underline hover:no-underline block">
                    Profil
                </button>
            </form>
            <form action="/profilSettings" method="POST">
                <button type="submit" name="user" value="{{.User.ID}}" class="p-2 hover:bg-gray-700 rounded text-white text-sm no-underline hover:no-underline block text-left">
                    Profil Settings
                </button>
            </form>
            <a href="/disconnect"
                class="p-2 hover:bg-gray-600 rounded text-white hover:text-red-600 text-sm no-underline hover:no-underline block">Log
                Out</a>
        </div>
    </div>
</li>
{{end}}